<header>
    <h1>backend - 20605</h1>
    <div class="page-links">
        <a href="#">Home</a>
        <a href="#">Productos</a>
        {{!-- {{#if logged}}
            <a href="#">{{user}}</a>
            <a href="/user">Login</a>
        {{else}}
            <a href="/user/logout" id="logout-button">Logout</a>
        {{/if}} --}}
    </div>
    
</header>