<header>
    <h1>backend - 20605</h1>
    <div class="page-links">
        <a href="#">Home</a>
        <a href="#">Productos</a>
        {{#if logged}}
            <a href="/user/logout">Logout</a>
        {{else}}
            <a href="/user" id="logout-button">Login</a>
        {{/if}}
    </div>
    
</header>