<header>
    <h1>backend - 20605</h1>
    <div class="page-links">
        <a href="#" class="not-active">Home</a>
        <a href="#" class="not-active">Productos</a>
        {{#if logged}}
            <a href="#" id="logout-button">Logout</a>
        {{else}}
            <a href="/login" >Login</a>
        {{/if}}
    </div>
    
</header>