<div class="contenedor">  
    <form id="chatForm" class="contact">
    <h3>Centro de mensajes</h3>
        <fieldset>
            <input id="email" placeholder="Ingrese email" name="email" type="email"  required>
        </fieldset>
        <div id="chat">
            <p>mensajes</p>

        </div>
        <fieldset>
            <input id="mensaje" placeholder="Ingrese su mensaje" name="mensaje" type="text" required>
        </fieldset>
        <button id="enviarChat" type="submit">Enviar!</button>

    </form>
</div>