<div class="contenedor">  
    <form class="contact" id="form-productos">
        <h3>Agregar productos</h3>
        <h4>Diseño sacado de codepen</h4>
        <fieldset>
            <input id="title" placeholder="Nombre del producto" name="title" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input id="price" placeholder="Precio del producto" name="price" type="number" tabindex="2" required>
        </fieldset>
        <fieldset>
            <input id="thumbnail" placeholder="Link a imagen" name="thumbnail" type="text" tabindex="3" required>
        </fieldset>
        <button type="submit">Submit</button>
    </form>
</div>