<div class="contenedor" id="formLogin" >  
    <form class="contact" >
        <h3>Iniciar session</h3>
        <h4>Usuario: alex, Contraseña: password</h4>
        <fieldset>
            <input id="title" placeholder="Usuario" name="username" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input id="price" placeholder="Contraseña" name="password" type="password" tabindex="2" required>
        </fieldset>
        <button type="submit">Submit</button>
    </form>
</div>