<div>
    {{#if logged}}
        <div class="welcome-banner">
            <h2>Bienvenido {{user}}</h2>
            
        </div>
        {{!-- {{> form}}
        {{> table}}
        {{> chat}} --}}
    {{else}}
    <h2>loguearse</h2>
    {{/if}}
</div>