<div>
    {{#if login}}
        <div class="welcome-banner">
            <h2>Bienvenido {{user}}</h2>
            <button>Desloguear</button>
        </div>
        {{!-- {{> form}}
        {{> table}}
        {{> chat}} --}}
    {{else}}
    <h2>loguearse</h2>
    {{/if}}
</div>