<div>
{{!-- {{#if login}}
    <h2>Bienvenido <strong>{{userName}}</strong>!</h2>
    <form action="/logout" name="logout" method="GET">
        <button type="submit" class="">Logout</button>
    </form>
    {{> form}}
    {{> table }}
    {{> chat}}
{{else}}
    {{login}}
{{/if}} --}}
<h1>Bienvenido</h1>

</div>