<div class="form-card">
    <h2>Login</h2>
    <p id="signup-error" class="alert d-none">Algunos de los datos es incorrecto</p>
    <form action="/login" method="POST" id="login-form">
        <label for="email">Email:</label>
        <input type="text" name="email" id="username" />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />

        <button id="login-button">Login</button>
    </form>
    <button id="signup-redirect">Signup</button>
</div>