{{!-- signup form card --}}
<div class="form-card">
    <h2>Registrarse</h2>
    <h3>constraseña no segura</h3>
    <form id="signup-form">
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="name">Nombre: </label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="lastname">Apellido: </label>
            <input type="text" name="lastname" required>
        </div>
        <div>
            <button>Registrarse</button>
        </div>
    </form>
</div>