{{!-- signup form card --}}
<div class="form-card">
    <h2>Registrarse</h2>
    <form action="/signup" method="POST" name="signup" enctype="multipart/form-data">
        <div>
            <label for="email">Email</label>
            <input autocomplete="email" type="email" name="email"  required>
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label for="name">Nombre</label>
            <input autocomplete="name" type="text" name="name" required>
        </div>
        <div>
            <label for="address">Dirección</label>
            <input autocomplete="street-address" type="text" name="address" required>
        </div>
        <div>
            <label for="age">Edad</label>
            <input type="number" name="age"  required>
        </div>
        <div>
            <label for="phoneNumber">Teléfono</label>
            <input autocomplete="tel" type="text" name="phoneNumber"  required>
        </div>
        <div>
            <label for="picture">Foto de perfil <label>
            <input type="file" name="picture"  placeholder="default.jpg">
        </div>

        <div>
            <button type="submit">Registrarse</button>
        </div>
            <p class="alert d-none">Error al registrarse</p>
    </form>
</div>