@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Roboto+Mono:wght@408&display=swap');

:root {
    --color-base0: #0d1117;
    --color-base1: #161b22;
    --color-base2: #21262d;
    --color-base3: #89929b;
    --color-base4: #c6cdd5;
    --color-base5: #ecf2f8;
    --color-new: #282828;
    --color-red: #fa7970;
    --color-orange: #faa356;
    --color-green: #7ce38b;
    --color-lightblue: #a2d2fb;
    --color-blue: #77bdfb;
    --color-purp: #cea5fb;
    --color-none: #000000;
    --font-code: 'Inconsolata', monospace;
    --font-text: 'Roboto Mono', monospace;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.4rem;
    --font-size-large: 1.6rem;
    --font-size-xlarge: 2.0rem;
    --font-padding-small: 0.2rem 0.5rem;
    
}
/* reset css */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
}
table {
    border-collapse: collapse;
}
textarea {
    white-space: revert;
}
a {
    all: unset;
}

body {
    background-color: var(--color-base0);
    color: var(--color-base5);
    font-family: var(--font-text);
}
header {
    background-color: var(--color-base1);
    color: var(--color-base5);
    /* sticky flex navbar */
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
header .page-links {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
header .page-links a {
    cursor: pointer;
}
header .page-links .not-active {
    text-decoration: line-through;
    cursor: text;
}
footer {
    background-color: var(--color-base1);
    color: var(--color-base5);
    position: sticky;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

main {
    background-color: var(--color-base2);
    color: var(--color-base5);
    padding: 1rem;
    height: 200vh;
}

/* login form card center and styled */
.form-card {
    background-color: var(--color-base1);
    color: var(--color-base5);
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    width: 30rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-family: var(--font-code);
    font-size: large;
    /* height: 350px; */
    
}
.form-card input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--color-base3);
    color: var(--color-base5);
}
.form-card h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-card input:focus {
    outline: none;
    
}  
.form-card button {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-base0);
    color: var(--color-base5);
    cursor: pointer;
    text-align: center;

}
.form-card button:hover {
    background-color: var(--color-base2);
}
/* wrong pass alert hide */
.alert {
    background-color: var(--color-red);
    padding: var(--font-padding-small);

}
.success {
    background-color: var(--color-green);
    padding: var(--font-padding-small);
}
.d-none {
    display: none;
}
/* login failed card witrh buttom to return */
.failed-card {
    background-color: var(--color-red);
    color: var(--color-base5);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    width: 30rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-family: var(--font-code);
    font-size: large;
    height: 350px;
}
.failed-card h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}
.failed-card button {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-base0);
    color: var(--color-base5);
    cursor: pointer;
    text-align: center;
}